body {background-color:black;}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:center;
  width: 50%;
  margin: 40px auto;
  color:red;

}
img {
  opacity: 1.0;

}

img:hover {
  opacity: 0.5;

}
